@use "mixins" as *;
@use "var" as *;

//mobile media query
@media screen and (min-width:$mobile) and (max-width:767px) {


    header  {
        @include nav-mobile;
        
    }

    .nav-header a {
        @include nav-mobile-a;
    }

    .homeicon {
        width: 2rem;
    }

  .drop-down {
    @include select-webkit;
    @include drop-down;
    position: fixed;
    width: 100%;
  }
}




//tablet media query
@media screen and (min-width:$tabletPortrait) {

    .drop-down {
        @include select-webkit;
        @include drop-down;
      }


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: black;
}

.nav-header {
    display: flex;
    justify-content: flex-start;
    background: black;
    
}

.nav-header a {
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color: black;  
    text-decoration: none;
    font-family: shapiro;
    display: flex;
    align-items: center;
}

.homeicon {
   width: 2.8rem; 
   
}

}

