@use "mixins" as *;
@use "var" as *;





@include mq($tabletPortrait) {
  .movie-grid-container {
    // @include movie-card;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
    background-color: black;
    
    
  }

  body {
    margin: 0;
  }

  .movie-card {
    @include movie-card;
  }
  
  img {
    object-fit: contain;
  }

  // .movie-poster {
  //   width: 200;
  //   height: 300;
  // }


  // .movie-name {
  //  @include movie-card;
  // }

  // .release-date {
  //  @include movie-card;
  // }
   


}