@use "mixins" as *;
@use "var" as *;


// mobile media query
@media screen and (min-width:$mobile) and (max-width:767px) {
  body {
    margin: 0;
    background: black;
    
  }

  .movie-grid-container {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    background-color:$base-color;
    justify-content: center;
  }

    .movie-card {
      @include movie-card;
      
    }

    .movie-card p {
      font-size: 1rem;

    }

    .home-icon-src {
      display:none;
    }
   
  }






//tablet media query
@media screen and (min-width:$tabletPortrait) and (max-width:$laptop) {
// @include mq($tabletPortrait) {
  body {
    margin: 0;
  }

  .movie-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
    background-color: black;
    justify-items: center;
    
  }

  .movie-card {
    @include movie-card;

  }

  .drop-down-container {
    @include drop-down-container;
    
  }

  .home-icon-top {
    display:none;
  }

}


//desktop media query

@media screen and (min-width:1081px) {

  body {
    margin: 0;
    background: black;
    
  }

  main {
    background: black;
    
  }
  .movie-grid-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 2rem;
    background-color: black;
    justify-items: center;
    max-width: 1920px;
    
  }

  .movie-card {
    @include movie-card;
  }

  .movie-card-text {
    @include movie-card-text;
  }


  .drop-down-container {
    @include drop-down-container;

  }

  .movie-poster {
    @include movie-poster;
    
  }

  .home-icon-top {
    display:none;
  }
}