@font-face {
    font-family: bold;
    src: url(/Fonts/bold/grotesque-bold.woff2)
}

@font-face {
    font-family:shapiro;
    src: url(/Fonts/shapiro/shapiro_45_welter_text.otf)
}

//variables
$font: shapiro;
$text-color:  white;
$base-color: black;
$columns-display: repeat(3, 1fr);
$grid: grid;
$poster-border: solid 1px blue;
$poster-width: 300px;
$poster-height: 525px;
$rounded-border: 25px;
$center-content: center;

//movie card mixin


// @mixin movie-card {
//     font-family: $font;
//     color: $text-color;
//     border: $poster-border;
//     max-width: $poster-width;
//     max-height: $poster-height;
//     min-width: 260px; //testing
//     min-height: 510px; //testing
//     background-color: #1D1D1D;
//     border-radius: $rounded-border;
//     display: $grid;
//     align-content: space-evenly;
//     justify-content: space-around;
//     justify-items: stretch;
//     padding-top: 1rem;
//     padding-bottom: 1rem;

// }


//works on mobile
@mixin movie-card {
    font-family: $font;
    color: $text-color;
    border: $poster-border;
    max-width: $poster-width;
    max-height: $poster-height;
    min-width: 260px; //testing
    min-height: 510px; //testing
    background-color: #1D1D1D;
    border-radius: $rounded-border;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    justify-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 50px;
}




//breaking points for responsive page
$mobile: 320px;
$tabletPortrait: 768px;
$desktopMedium: 1080px;
$laptop: 1280px;
$desktop: 1440px;